* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
p {
  margin: 0;
}
.bg-grey {
  background: #f7f7f7;
}
:root{
  --secondary-color: #000;
}
.sc-color{
  color: var(--secondary-color)
}
body {
  margin: 0 auto;
  font-family: "Times New Roman", sans-serif;
  /* color: #374151; */
  color: #4b5563;
}
.container {
  padding: 8px;
}

.margin-r-8 {
  margin-right: 8px;
}
.color-black {
  color: black;
}
.fz-32 {
  font-size: 32px;
}
.fz-16 {
  font-size: 16px;
}
.fz-20 {
  font-size: 20px;
}
.header-title {
  font-size: 40px;
  margin-bottom: 32px;
  color: #000;
}

/* id="banner" */
/* banner */
.header-info {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/banner.jpg);
  width: 100%;
  height: 400px;
  background-position: center top;
}
.list-info {
  padding: 0;
}
.details-myself {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.fullName {
  margin-bottom: 8px;
  text-align: center;
}
.myJob {
  text-align: center;
  font-size: 24px;
}
/* end: banner */

/* nav */
.top-nav a:link {
  /* float: left; */
  color: #000;
  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}
.a-user {
  color: #000;
}
.top-nav {
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 130px 130px 400px 130px 130px;
  justify-content: center;
  height: 60px;
  position: relative;
}
.user {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  border-left: 1px solid #ccc;
}
.user:nth-child(2),
.user:nth-child(5) {
  border-right: 1px solid #ccc;
}
.about-me img {
  position: absolute;
  width: 180px;
  transform: translate(-50%, -50%);
  border: 8px solid #fff;
  border-radius: 50%;
}

.my-website {
  text-decoration: none;
  color: #06b6d4;
  font-weight: normal;
}
.my-website:hover {
  /* text-decoration: none; */
  color: #0284c7;
}
.a-icon-contact {
  text-decoration: none;
}

.icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  /* position: absolute; */
  color: #06b6d4;
}

.user-info {
  display: flex;
}
.goals-info {
  width: 50%;
  background-color: #f4f4f5;
  padding: 80px 24px;
}
.goals-desc {
  line-height: 1.5;
}
.personal-info {
  width: 50%;
  background-color: #e4e4e7;
  padding: 80px 24px;
}
.personal-info ul {
  list-style-type: none;
}
.personal-info ul li {
  margin-bottom: 8px;
}
.icon-personal-info {
  margin: 20px 0;
}

/* job-info */
#job-info {
  padding: 40px 0;
}

.header-job {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.title-job{
  width: 75%;
}
.title-job, .title-certificate, .title-project {
  /* background-color: #fff; */
  /* font-weight: bold; */
  font-size: 40px;
  color: var(--secondary-color)
}
.icon-job {
  width: 25%;
  text-align: center;
}
.item-icon {
  font-size: 40px;
}

/* div-content */

/* .item-job1 >ul >li{
  margin-left: 10px;
} */
.job-content {
  list-style-type: none;
  padding: 0;
}
.job-content li {
  position: relative;
}
.job-content li::before {
  position: absolute;
  content: "\2022";
  color: #06b6d4;
  font-weight: bold;
  display: inline-block;
  font-size: 30px;
}
.title-name {
  /* font-weight: bold; */
  font-size: 20px;
  margin-bottom: 8px;
  color: var(--secondary-color);
}
.job-detail {
  margin-bottom: 32px;
  margin-left: 30px;
  padding-top: 4px;
}
.time-job {
  margin-bottom: 8px;
}
.desc-detail-job {
  margin-bottom: 8px;
  line-height: 1.3;
}
.date-now {
  background-color: #06b6d4;
  color: #fff;
  padding: 2px 8px;
  border-radius: 4px;
}

/* So thich */
.list-interest {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.item-interest {
  margin-right: 6px;
  padding: 0;
  min-width: 75px;
  max-width: 75px;
}
.ic-item-interest {
  font-size: 20px;
  color: #06b6d4;
  padding: 12px;
  border-radius: 50%;
  border: 1px solid #06b6d4;
  margin-bottom: 12px;
}
.text-center1 {
  text-align: center;
}

.item-skill {

  margin-bottom: 30px;
}
.item-skill>.title-name{
  font-size: 24px;
}
.level-skill {
  background-color: #06b6d4;
  padding: 2px 24px;
  display: inline-block;
  border-radius: 4px;
  margin-right: 4px;
}
.none-level-skill {
  background-color: #cbd5e1;
  padding: 2px 24px;
  display: inline-block;
  border-radius: 4px;
  margin-right: 4px;
}

.bg {
  background-color: #f7f7f7;
}
.certificate {
  padding: 48px 0;
}
.title {
  font-size: 40px;
  margin-bottom: 30px;

}
.list-cert {
  margin-bottom: 20px;
}

.list-cert:nth-child(2) {
  padding-bottom: 20px;
  border-bottom: 1px solid #d6c08d;
}
.item-cert:nth-child(even) {
  padding-left: 12px;
  border-left: 1px solid #d6c08d;
}

.cert-img {
  width: 180px;
}
.cert-info {
  padding-left: 20px;
}
.title-cert {
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
  word-spacing: 2px;
  color: var(--secondary-color);
}
.desc-cert {
  margin-bottom: 8px;
}

.cert-img {
}
.cert-info {
}

.project {
  margin: 40px 0;
}

/* project */
.img-project {
  display: block;
}
.list-project {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
}

.item-project {
  width: 100%;
  border: 1px solid #ccc;
}
.name-project {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.name-project p {
  padding: 16px 0;
  text-transform: uppercase;
  margin-left: 20px;
  font-size: 18px;
}
.header-right {
  /* display: inline-block; */
}

.list-details-project {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.item-detail-project {
  margin-left: 16px;
  display: inline-block;
}
.time-project {
  background-color: #06b6d4;
  padding: 2px 14px;
  border-radius: 16px;
  color: #fff;
}
table,
tr {
  border-top: 1px solid #ccc;
}
.desc-project {
  border-collapse: collapse;
}
tr {
  /* height:70px; */
}
.col_1 {
  width: 30%;
  vertical-align: top;
  padding: 8px 8px;
}
.col_2 {
  padding: 8px 8px;
  vertical-align: top;
}

/* contact */
footer {
  padding: 50px 0;
}
.contact-info {
  display: flex;
  justify-content: center;
}
.list-contact {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
}
.item-contact {
  list-style-type: none;
}
.contact-link {
  text-decoration: none;
  color: #000;
}
.icon-contact {
  /* background-color: #6b7280; */
  padding: 4px;
  border-radius: 50%;
  border: 1px solid #06b6d4;
  background-color: #06b6d4;
  margin-right: 8px;
  color: #fff;
  font-size: 15px;
}
.list-contact {
  /* padding:0; */
}
.contact-link {
  display: flex;
  align-items: center;
}
.list-contact {
  margin: 0;
  padding: 0;
}
/* .item-jobx .card{
  height: 630px;
} */

.card {
  height: 100%;
}
